* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 50px 0 30px 0;
  font-size: 35px;
}
.header p {
  font-size: 20px;
}

/* pads section */

.pads {
  width: 100vw;
  display: flex;
  background: white;
}

.pads > div {
  width: 100px;
  height: 100px;
  flex: 1;
  cursor: pointer;
}
.pads > div:hover {
  opacity: 0.8;
}

.pad1 {
  background: #e74c3c;
}
.pad2 {
  background: #e67e22;
}
.pad3 {
  background: #f1c40f;
}
.pad4 {
  background: #2ecc71;
}
.pad5 {
  background: #3498db;
}
.pad6 {
  background: #9b59b6;
}

/* effects section */
.effects > div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -1;
  animation: jump 1s ease;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
